.main {
  width: 100vw;
  margin-bottom: 10px;
}

.main .inner {
  width: 100%;
  height: 900px;
  // background-image: url("../../images/womens.jpg");
  background-size: cover;
  // background-position: center;
  // position: absolute;
}

.main .title {
  color: rgb(158, 125, 185);
  padding-top: 150px;
  padding-left: 100px;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 2px 2px #0e0d18;
}

// .main .box1.image {
//   position: absolute;
//   top: 58px;
//   right: -20px;
// }

// .main .box2.image {
//   position: absolute;
//   top: 190px;
//   right: 240px;
// }

// .main .box3.image {
//   position: absolute;
//   bottom: -20px;
//   left: 60px;
// }

// .main .fade-in {
//   opacity: 0;
// }
