.favorite-move1 {
  width: 100vw;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: cover;
  margin-top: 15px;
}

.favorite-move1 .inner {
  padding: 110px 0;
}

.favorite-move1 .text-group {
  position: absolute;
  width: 282px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.favorite-move1 .text-group .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.favorite-move1 .text-group .description {
  margin-bottom: 15px;
}

.favorite-move2 {
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: cover;
}

.favorite-move2 .inner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-move2 .medal {
  width: 334px;
  height: 344px;
  perspective: 600px;
}

.favorite-move2 .medal .front,
.favorite-move2 .medal .back {
  position: absolute;
  width: 334px;
  height: 344px;
  backface-visibility: hidden;
  transition: 1s;
}

.favorite-move2 .medal .front {
  transform: rotateY(0deg);
}

.favorite-move2 .medal:hover .front {
  transform: rotateY(180deg);
}

.favorite-move2 .medal .back {
  transform: rotateY(-180deg);
}

.favorite-move2 .medal:hover .back {
  transform: rotateY(0deg);
}

.favorite-move2 .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}
