.favorite-move1 {
  width: 100vw;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: cover;
  margin-top: 15px;

  .inner {
    padding: 110px 0;
  }

  .text-group {
    position: absolute;
    width: 282px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .description {
      margin-bottom: 15px;
    }
  }
}

.favorite-move2 {
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: cover;

  .inner {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .medal {
    width: 334px;
    height: 344px;
    perspective: 600px;

    .front,
    .back {
      position: absolute;
      width: 334px;
      height: 344px;
      backface-visibility: hidden;
      transition: 1s;
    }

    .front {
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(-180deg);

      .btn {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  .medal:hover .front {
    transform: rotateY(180deg);
  }

  .medal:hover .back {
    transform: rotateY(0deg);
  }
}
