.customButton {
  min-width: 135px;
  width: 20%;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    font-weight: bolder;
    border: 1px solid black;
  }
}
